<!DOCTYPE html>
<html  lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <title>Sensor's Dashboard</title>

    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!--Gauge  -->
    <script type="text/javascript" src="http://pubnub.github.io/eon/lib/eon.js"></script>


</head>

<body>

    <div class="jumbotron">
        <h1 class="text-center text-white">Welcome to Sensor Visualization </h1>
    </div>
    <br>
    <br>

    <div class="container-fluid">

        <div class="row">

            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor1"> Sensor : </h1>
            </div>
            <br>

            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor2">Sensor :</h1>
            </div>
            <br>

            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor3">Sensor :</h1>
            </div>
            <br>
            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor4">Sensor :</h1>
            </div>
            <br>
            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor5">Sensor :</h1>
            </div>
            <br>
            <div class="col-5 jumbotron p-2 mx-1">
                <h1 class="sensor6">Sensor :</h1>
            </div>
            <br>

        </div>
    </div>

    <style>

        .jumbotron{
            background-color: black;
            color:white;
            widows: 100px;
            height: 180px;
            justify-content: center;
            border-radius:0px;
        }

        .row{
            justify-content: center;
        }


    </style>

    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-temperature">

            </div>
        </div>
    </div>
<br>
<br>
<br>

    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-humidity">

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-PH">

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-N">

            </div>
        </div>
    </div>
     
    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-P">

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-K">

            </div>
        </div>
    </div>

    <script>
        var chartTemperatue;
        var chartHumidity;
        var  chartPh;
        var chartN;
        var chartP;
        var chartK;

        function requestData()
        {
            // Ajax call to get the Data from Flask
            var requests = $.get('/data');

            var tm = requests.done(function (result)
            {
                // Temperature
                var seriesTemperature = chartTemperatue.series[0],
                    shiftTemperature = seriesTemperature.data.length > 20;

                // Humidity
                var seriesHumidity = chartHumidity.series[0],
                    shiftHumidity = seriesTemperature.data.length > 20;

                //Soil PH
                var seriesPH = chartPh.series[0],
                shiftPh = seriesPH.data.length > 20;
                 
                //soil N
                var seriesN = chartN.series[0],
                shiftN = seriesN.data.length > 20;

                //soil P
                var seriesP = chartP.series[0],
                shiftP = seriesP.data.length > 20;

                //soil K
                var seriesK = chartK.series[0],
                shiftK = seriesK.data.length > 20;


                // Add the Point
                // Time Temperature\
                var data1 = [];
                data1.push(result[0]);
                data1.push(result[1]);


                // Add the Point
                // Time Humidity
                var data2 = [];
                data2.push(result[0]);
                data2.push(result[2]);

                var data3 = [];
                data3.push(result[0]);
                data3.push(result[3]);

                var data4 = [];
                data4.push(result[0]);
                data4.push(result[4]);

                var data5 = [];
                data5.push(result[0]);
                data5.push(result[5]);

                var data6 = [];
                data6.push(result[0]);
                data6.push(result[6]);


                chartTemperatue.series[0].addPoint(data1, true, shiftTemperature);
                chartHumidity.series[0].addPoint(data2, true, shiftHumidity);
                chartPh.series[0].addPoint(data3, true, shiftPh);
                chartN.series[0].addPoint(data4, true, shiftN);
                chartP.series[0].addPoint(data5, true, shiftP);
                chartK.series[0].addPoint(data6, true, shiftK);
                
                
                $(".sensor1").text("");
                $(".sensor1").text("Temperature : " +  Math.round(data1[1]) );

                $(".sensor2").text("");
                $(".sensor2").text("Humidity : " +  Math.round(data2[1]) );

                $(".sensor3").text("");
                $(".sensor3").text("Soil PH : " +  Math.round(data3[1]) );

                $(".sensor4").text("");
                $(".sensor4").text("Soil N : " +  Math.round(data4[1]) );

                $(".sensor5").text("");
                $(".sensor5").text("Soil P : " +  Math.round(data5[1]) );

                $(".sensor6").text("");
                $(".sensor6").text("Soil K : " +  Math.round(data6[1]) );

                // call it again after one second
                setTimeout(requestData, 5000);

            });
        }

        $(document).ready(function()
        {
            // --------------Chart 1 ----------------------------
            chartTemperatue = new Highcharts.Chart({
                chart:
                    {
                    renderTo: 'data-temperature',
                    defaultSeriesType: 'area',
                    events: {
                        load: requestData
                            }
                    },
                title:
                    {
                    text: 'Temperature'
                    },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                        },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                            }
                         },
                series: [{
                    color : '#c23d23',
                    lineColor: '#303030',
                    name: 'Temperature',
                    data: []
                }]
            });
            // --------------Chart 1 Ends - -----------------

            chartHumidity = new Highcharts.Chart({
                chart:
                    {
                        renderTo: 'data-humidity',
                        defaultSeriesType: 'area',
                        events: {
                            load: requestData
                        }
                    },
                title:
                    {
                        text: 'Humidity'
                    },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                    }
                },
                series: [{
                    lineColor: '#1d82b8',
                    name: 'Humidity',
                    data: []
                }]
            });


            chartPh = new Highcharts.Chart({
                chart:
                    {
                    renderTo: 'data-PH',
                    defaultSeriesType: 'area',
                    events: {
                        load: requestData
                            }
                    },
                title:
                    {
                    text: 'Soil PH'
                    },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                        },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                            }
                         },
                series: [{
                    color : '#D35400',
                    lineColor: '#303030',
                    name: 'PH',
                    data: []
                }]
            });

            chartN= new Highcharts.Chart({
                chart:
                    {
                    renderTo: 'data-N',
                    defaultSeriesType: 'area',
                    events: {
                        load: requestData
                            }
                    },
                title:
                    {
                    text: 'Soil N'
                    },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                        },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                            }
                         },
                series: [{
                    color : '#F1C40F ',
                    lineColor: '#303030',
                    name: 'N',
                    data: []
                }]
            });

            chartP = new Highcharts.Chart({
                chart:
                    {
                    renderTo: 'data-P',
                    defaultSeriesType: 'area',
                    events: {
                        load: requestData
                            }
                    },
                title:
                    {
                    text: 'Soil P'
                    },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                        },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                            }
                         },
                series: [{
                    color : '#138D75',
                    lineColor: '#303030',
                    name: 'P',
                    data: []
                }]
            });

            chartK = new Highcharts.Chart({
                chart:
                    {
                    renderTo: 'data-K',
                    defaultSeriesType: 'area',
                    events: {
                        load: requestData
                            }
                    },
                title:
                    {
                    text: 'Soil K'
                    },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                        },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                            }
                         },
                series: [{
                    color : '#D0D3D4',
                    lineColor: '#303030',
                    name: 'K',
                    data: []
                }]
            });


        });
    </script>




</body>


</html>
